@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

.header {
  text-align: center;
  font-family: 'UnifrakturMaguntia', cursive;
   
    
}

.form{
   text-align:center;
    box-shadow: 2px 2px 3px 3px  #ccc;
    border: 2px  #eee;
    padding:20px;
    margin-top: 20px;  
}

.contacts{
  text-align:center;
    margin-top: 20px
}

.App{
    margin-top: 10%;
    box-shadow: 2px 2px 3px 3px  #ccc;
    border: 2px  #eee;
    padding:20px;
}